.atrasThree{
    background-color: #000000;
    
}
.footer__preguntasOne{
    color: black;
    text-align: $centroFooter ;
    margin:0px 0px 15px;
    font-size: $numeroFooter; 
    font-weight: 600;

    
}
.footer__preguntas__preguntas--preguntasTwo{
    margin: 0px 0px 25px;
    color: rgb(255, 255, 255);
    
}

.enLineaFooter{  
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style-type: none;   
} 
.marginSeven{
    margin: 8px 10px 0px 0px;

}
.marginEight{
    margin-top: 5px;
    
}


