.color{
    color: rgb(0, 0, 0);
    background-color: #0d6efd;
}
.color:hover{
    color: $red;
    background-color: rgb(0, 0, 0);
    font-weight:700;
}
.borderSelect{
    border: inset 3px; 
} 
label {
    display: inline-block;
}

@media(max-width:449px){
    .posicionOne{
        display: grid;
        flex-direction: column;
        justify-content:center;
    }
    .fontSizeOne{
        font-size: 18px;
    }
    .fontSizeTwo{
        font-size: 14px;
    }
    .borderTwo{
        border: solid 5px #343a40;
        border-radius: 10px;
        padding: 10px;
        background-color: #343a40;
    }
    .padding{
        padding: 3px;
        
    }
}
@media(min-width:450px){
    .posicionOne{
        display: grid;
        flex-direction: column;
        justify-content:center;
    }
    .fontSizeOne{
        font-size: 20px;
    }
    .borderTwo{
        border: solid 5px #343a40;
        border-radius: 10px;
        padding: 10px;
        background-color: #343a40;
    }
    .padding{
        padding: 11px;
        
    }
}
@media(min-width:768px){ 
    .posicionOne{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .input{
        width: 165px;
        height: 20px;
        background-color: white;
        transition: 2s;
    }
    .input:focus{
        width: 185px;
        height: 25px;
        font-size: 25;
        background-color: rgb(136, 247, 145);
    }
    .fontSizeOne{
        font-size: 23px;
    }

}
@media(min-width:850px){
    .input{
        width: 180px;
        height: 20px;
        background-color: white;
        transition: 2s;
    }
    .input:focus{
        width: 200px;
        height: 25px;
        font-size: 25;
        background-color: rgb(136, 247, 145);
    }
    .tamañoSeven{
        height: 50px;
        width: 50px;
    }
} 
@media(min-width:950px){
    .input{
        width: 200px;
        height: 20px;
        background-color: white;
        transition: 2s;
    }
    .input:focus{
        width: 230px;
        height: 25px;
        font-size: 25;
        background-color: rgb(136, 247, 145);
    }
}




