@media(max-width:449px){
    .imgSeven{
        width:300px;
        height: 310px;
       
    }
    
}
@media(min-width:450px){
    .imgSeven{
        width: 600px;
        height: 350px;
    }
    .borderThree{
        border-bottom: solid 3px white;
      
    }
}