@media(max-width:449px){
    .padreFlexDeCompetenciaTwo{
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        align-items: center;    
    }
    .padreFlexDeCompetenciaTwoY{
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        align-items: center;         
    }
    .tamañoOne{
        height: 140px;
        width: 140px;    
        margin: 10px;

    }

}
@media(min-width:450px){
    .padreFlexDeCompetenciaTwo{
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        align-items: center;              
    }
    .padreFlexDeCompetenciaTwoY{
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;
        align-items: center;          
    }
    .tamañoOne{
        height: 200px;
        width: 200px;    
        margin: 10px;
        
    }

}
@media(min-width:768px){ 
    .padreFlexDeCompetenciaTwo{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;           
    }
    .padreFlexDeCompetenciaTwoY{
        display: flex;
        justify-content: space-around;
        flex-flow: row nowrap;     
    }
    .tamañoOne{
        height: 400px;
        width: 400px;    
        margin: 10px;
    }
}




