$red: red;
$numero:17px;
$centro: center;
$distaciamiento: 10px 30px 10px 30px;
$distaciamientoTwo:0px 30px 12px 30px;
$ancho: 800px;
$alto: 600px;
$azul:#1310e7;
$rojoFooter:rgb(218, 12, 12);
$numeroFooter:18px;
$centroFooter: center;